.editor-title(ng-if='title')
    i.icon-hint
    | &nbsp; {{ title }}

ul.editor-tabs(ng-if='tabbed')

    li(ng-class='{ active: tab === "code" }', ng-click='switchTab("code")')
        i.icon-code

    li(ng-class='{ active: tab === "guide" }', ng-click='switchTab("guide")', ng-if='guide')
        i.icon-guide

    li.divide

    li(
        ng-repeat='category in docs',
        ng-class='{ active: tab === "docs-" + category.label }',
        ng-click='switchTab("docs-" + category.label)'
        )
        i(ng-class='"icon-" + category.icon')

.editor-docs(ng-repeat='category in docs', ng-show='tab === "docs-" + category.label'): .inner

    h4 {{ category.label }}

    p.hint
        | Click 
        span.add-button 
        |  to add a shape to your code

        .command(ng-repeat='command in category.commands')

            .command-parts

                span.tag.call {{ command.call }}

                span(ng-repeat='arg in command.args')
                    span.tag(ng-class='arg[1]') {{ arg[0] }}
                    span.divide(ng-if='$index !== command.args.length -1') , 

                a.add-button(ng-click='addCommand(command)')

            p.explain {{ command.description }}

            p.explain-parts

                span(ng-repeat='arg in command.args')
                    span(ng-class='arg[1]') {{ arg[0] }}: {{ arg[2] }}
                    span(ng-if='$index !== command.args.length -1')  | 

div(ng-show='tab === "code"')

    .editor-wrap(ng-class='{ "has-title": !!title }')

        .editor-area(editor, ng-class='{ disabled: !editable }')

        .controls(ng-if='controls' ng-class='{ full: fullScreen }')

            a(
                href='#',
                ng-click='toggleAutocomplete()',
                title='Toggle autocomplete',
                ng-class='{ active: autocomplete }'
                )
                .autocomplete
                    .round
                    span Autocomplete

            a(
                href='#',
                ng-click='toggleFullScreen()',
                title='Toggle fullscreen',
                ng-class='{ active: fullScreen }'
                )
                .full-screen-control
                    .round
                    span Fullscreen

.editor-guide(ng-show='tab === "guide"'): .inner
    .teachers-guide(ng-if='teachers_guide')
        a.guide(ng-href='{{ "/assets" + teachers_guide }}', target='_blank')
            i.icon-zip
            span Download teacher's guide

    h4(ng-if='guide') Guide
    .guide(ng-bind-html="guide | markdown", ng-if='guide')