.page-challenges(ng-class="[ selectedWorldClass ]")

    .page-width

        h3.page-title(ng-if='selectedWorld')
            span {{ selectedWorld ? selectedWorld.name : '${{ challenges.challenges }}$'}}
            .quests
                a(href='/challenges')
                    i.icon-arrow-left
                    | ${{ challenges.challenges }}$

        .header(ng-if="selectedWorld && !selectedWorld.noHeader" ng-style='{ "background-image": selectedWorld.id && "url(" + _config.UI_ROOT + "assets/" + selectedWorld.id + "/header.png)" }')

        ul.worlds-list(ng-if='!selectedWorld' )
            li.world-item(ng-repeat='world in worlds')
                a.world-cover(
                    ng-href='{{!isWorldLocked(world) ? "/challenges/" + world.id : ""}}'
                    ng-class='{locked: isWorldLocked(world), completed: isWorldCompleted(world), current: isWorldCurrent(world)}'
                    ng-style='{ "background-image": "url(" + _config.UI_ROOT + "assets/challenges/images/" + world.cover + ".png)" }'
                    )

                    h4 {{ world.name }}

        ul.challenges-list(ng-if='selectedWorld')

            li(ng-repeat='challenge in challenges')
                a(
                    ng-click='selectChallenge(challenge)',
                    ng-class='{ locked: isLocked(challenge), completed: isCompleted(challenge), current: isCurrent(challenge) }'
                    )

                    .cover(ng-style='{ "background-image": "url(" + _config.UI_ROOT + "assets/challenges/images/" + challenge.cover + ")" }')

                    .detail
                        h5 {{ challenge.short_title || challenge.title }}

            li(ng-if='selectedWorld.type !== "campaign"')

                a.highlight(href='/playground', ng-class='{ locked: false}')

                    .cover(ng-style='{"background-image": "url(" + _config.UI_ROOT + "assets/challenges/images/playground.png)"}')

                    .detail
                        h5 ${{ challenges.playground }}$

            li(ng-if='selectedWorld.certificate_after')

                a.highlight(
                            ng-href="{{getCertificateUrl()}}",
                            target="{{isCertAchieved(selectedWorld) ? '_blank' : '_self'}}",
                            ng-class='{ locked: !isCertAchieved(selectedWorld)}',
                            ng-click='checkCertOnPi($event)'
                            )

                    .cover(ng-style='{"background-image": "url(" + _config.UI_ROOT + "assets/challenges/images/cert-icon.png)"}')

                    .detail
                        h5 ${{ challenges.certificate }}$

include ./partial/selected-challenge
include ./partial/grab-keyboard
include ./partial/certificate-modal
include ./partial/dialogs
