.page-challenge: .page-width

    .workspace-header(ng-class='(animationClass || "") + (completed ? " success" : "") + (fatherDay ? " father-day" : "")')

        .inner.center(ng-if='!started')

            h3 Challenge {{ id }}: {{ challenges[ id - 1 ].title }}
            h4 {{ challenges[ id - 1 ].description }}
            button.button-success(ng-click='start()') Start

        .inner(ng-if='started && !completed')

            a.button.button-hint.large.right(
                ng-click='toggleSolution()',
                ng-class='{ active: showSolution, "animate-pulse-highlight": highlightHelp }'
                )
                i.icon-hint
                | Hint

            progress-circle(value='step', max='content.steps.length')
            h3 {{ challenges[ id - 1 ].title }}
            h4.hint(ng-bind-html='hint | markdown', ng-if='hint')

        .inner.center(ng-if='completed && !fatherDay')
            .completion
                .text
                    h4 {{ successMessage() }}
                    a.button.button-success(ng-click='goToNext()') {{ next ? 'Next' : 'Done' }} &rsaquo;

                .gallery(ng-if='content.gallery')
                    h4 Can you hack this challenge?
                    .remixes
                        .image(
                            ng-repeat='remix in content.gallery.remixes',
                            ng-style='{"background-image": "url(" + content.gallery.cover_path + remix + ")"}'
                            )

        .inner.center(ng-if='completed && fatherDay')

            div(ng-if='!user')

                img(src='/assets/layout/father-day-closed.png')

                h4 Make it into a Father's day card!

                p.
                    Now sign-up to Kano World to share your creation and send 
                    a card to your dad!

                a.button.large.button-success(ng-click='login()', href='#') Log In / Sign Up

            div(ng-if='user')

                img(src='/assets/layout/father-day-open.png')

                h4 Share your Father's day card!

                p.
                    Now you can share the card on Kano World and share it to your dad!

                a.button.large.button-success(ng-click='shareFatherDay()', href='#') Share it!

    .row(ng-if='started')
        .col-6.editor-wrap

            editor(
                workspace,
                ng-model='challenge.code',
                ng-class='{ completed: completed }',
                ng-change='validate()',
                editable='started',
                start-at-line='content.startAt'
                tabbed='true',
                controls='true'
                )

        .col-6.tutorial-wrap

            display(
                reset-fn='restart'
                source='challenge.code',
                workspace,
                mode='"challenge"',
                sharing='completed',
                ng-class='{ disabled: !started }',
                ng-show='!showSolution'
                )

            editor.solution(
                ng-if='showSolution && solution',
                ng-model='solution',
                title='"Solution"'
                ) {{ solution }}

    .modal-overlay(ng-if='gameCompleteOpen')
        .modal-inner.split-modal.challenge-complete.center(ng-if='selectedWorld.id !== "hourofcode"')

            //- button.close(ng-click='clocseFinishedGame()'): i.icon-cross

            h3 Challenges completed
            
            h4 Now make something new!

            .logo-title

            .center.bottom-section

                a.button.secondary.large(ng-href='/challenges')
                    i.icon-menu
                    |  Menu

                a.button.large(ng-href='/playground')
                    i.icon-game
                    |  Playground
                    
        
        .modal-inner.split-modal.challenge-complete.center(ng-if='selectedWorld.id === "hourofcode"')

            //- button.close(ng-click='clocseFinishedGame()'): i.icon-cross

            h3 Challenges completed
            
            h4 You did it, go back for more coding fun!

            .hour-of-code-logo

            .center.bottom-section

                a.button.large(href='http://code.org/learn')
                    i.icon-game
                    |  Hour Of Code
  
.modal-overlay(ng-if='nextModal')
    .modal-inner.modal-challenge-info.center

        .cover(ng-style='{ "background-image": "url(/assets/challenges/images/" + next.cover +")" }')

        button.close(ng-click='closeNextModal()'): i.icon-cross

        .detail

            h3 {{ next.title }}

            p.description {{ next.description }}

            p.description.small(ng-if='next.locked') Come back tomorrow to continue this challenge

            a.button.button-success(ng-href='/challenges/{{selectedWorld.id}}' ng-if='next.locked') {{selectedWorld ? 'Back to ' + selectedWorld.name : 'Menu'}}
            a.button.button-success(ng-href='/challenge/{{selectedWorld.id}}/{{next.id}}' ng-if='!next.locked') Start

include partial/mail-preview