include ./partial/header

.page-challenge: .page-width

    .workspace-header(ng-class='(animationClass || "") + (completed ? " success" : "") + (fatherDay ? " father-day" : "")')

        .inner.center(ng-if='!started')

            h3 ${{ challenge.challenge_title }}$ {{ challenges[ id - 1 ].title }}
            h4 {{ challenges[ id - 1 ].description }}
            button.button-success(ng-click='start()') ${{ challenge.start }}$

        .inner(ng-if='started && !completed')

            a.button.button-hint.large.right(
                ng-click='toggleSolution()',
                ng-class='{ active: showSolution, "animate-pulse-highlight": highlightHelp }'
                )
                i.icon-hint
                | ${{ challenge.hint }}$

            progress-circle(value='step', max='content.steps.length')
            h3 {{ challenges[ id - 1 ].title }}
            h4.hint(ng-bind-html='hint | markdown', ng-if='hint')

        .inner.center(ng-if='completed && !fatherDay')
            .completion
                .text
                    h4(ng-if='offline') ${{ challenge.success_offline }}$
                    h4(ng-if='!offline') ${{ challenge.success_online }}$
                    a.button.button-success(ng-click='goToNext()') {{ next ? '${{ challenge.next }}$' : '${{ challenge.done }}$' }} &rsaquo;

                .gallery(ng-if='content.gallery')
                    h4 ${{ challenge.can_you_hack_this_challenge }}$
                    .remixes
                        .image(
                            ng-repeat='remix in content.gallery.remixes',
                            ng-style='{"background-image": "url(" + content.gallery.cover_path + remix + ")"}'
                            )

        .inner.center(ng-if='completed && fatherDay')

            div(ng-if='!user')

                img(src='/assets/layout/father-day-closed.png')

                h4 ${{ challenge.make_it_into_a_fathers_day_card }}$

                p.
                    ${{ challenge.now_sign_up_to_kano_world_to_share_your_creation }}$

                a.button.large.button-success(ng-click='login()', href='#') Log In / Sign Up

            div(ng-if='user')

                img(src='/assets/layout/father-day-open.png')

                h4 ${{ challenge.share_your_fathers_day_card }}$

                p.
                    ${{ challenge.now_you_can_share_the_card_on_kano_world }}$

                a.button.large.button-success(ng-click='shareFatherDay()', href='#') Share it!

    .row(ng-if='started')
        .col-6.editor-wrap

            editor(
                workspace,
                ng-model='challenge.code',
                ng-class='{ completed: completed }',
                ng-change='validate()',
                editable='started',
                start-at-line='content.startAt'
                tabbed='true',
                controls='true'
                )

        .col-6.tutorial-wrap

            display(
                reset-fn='restart'
                source='challenge.code',
                workspace,
                mode='"challenge"',
                sharing='completed',
                ng-class='{ disabled: !started }',
                ng-show='!showSolution'
                )

            editor.solution(
                ng-if='showSolution && solution',
                ng-model='solution',
                title='"${{ challenge.solution }}$"'
                ) {{ solution }}

    .modal-overlay(ng-if='gameCompleteOpen')
        .modal-inner.split-modal.challenge-complete.center(ng-if='selectedWorld.id !== "hourofcode"')

            //- button.close(ng-click='clocseFinishedGame()'): i.icon-cross

            h3 ${{ challenge.challenges_completed }}$
            
            h4(ng-if='!unlockedWorld') ${{ challenge.now_make_something_new }}$

            h4(ng-if='unlockedWorld')
                | ${{ challenge.new_world_unlocked_play_now }}$
                a.button.unlocked(href='/challenges/{{ unlockedWorld.id }}') {{ unlockedWorld.name }}

            .logo-title

            .center.bottom-section

                a.button.secondary.large(ng-href='/challenges')
                    i.icon-menu
                    |  ${{ challenge.menu }}$

                a.button.large(ng-href='/playground')
                    i.icon-game
                    |  ${{ challenge.playground }}$
                    
        
        .modal-inner.split-modal.challenge-complete.center(ng-if='selectedWorld.id === "hourofcode"')

            //- button.close(ng-click='clocseFinishedGame()'): i.icon-cross

            h3 ${{ challenge.challenges_completed }}$
            
            h4 ${{ challenge.you_did_it_go_back_for_more_coding_fun }}$

            .hour-of-code-logo

            .center.bottom-section

                a.button.large(href='http://code.org/learn')
                    i.icon-game
                    |  ${{ challenge.hour_of_code }}$
  
include partial/next-modal
include partial/share-modal
include partial/mail-preview
include partial/dialogs
