.page-challenges(ng-class="[ selectedWorldClass ]"): .page-width
    .web.left
    .web.right

    h3.page-title(ng-if='selectedWorld')
        span {{ selectedWorld ? selectedWorld.name : 'Challenges'}}
        .quests
            a(ng-if="isWorldInIndex(selectedWorld)" href='/challenges')
                i.icon-arrow-left
                | Challenges

    .header

    ul.worlds-list(ng-if='!selectedWorld' )
        li.world-item(ng-repeat='world in worlds' ng-if='isWorldInIndex(world)')
            a.world-cover(
                ng-href='{{!isWorldLocked(world) ? "/challenges/" + world.id : ""}}'
                ng-class='{locked: isWorldLocked(world), completed: isWorldCompleted(world), current: isWorldCurrent(world)}'
                ng-style='{ "background-image": "url(/assets/challenges/images/" + world.cover + ".png)" }'
                )

                h4 {{ world.name }} 

    ul.challenges-list(ng-if='selectedWorld')

        li(ng-repeat='challenge in challenges')
            a(
                ng-click='selectChallenge(challenge)',
                ng-class='{ locked: isLocked(challenge), completed: isCompleted(challenge), current: isCurrent(challenge) }'
                )

                .cover(ng-style='{ "background-image": "url(/assets/challenges/images/" + challenge.cover + ")" }')

                .detail
                    h5 {{ challenge.short_title || challenge.title }}

                .weekday
                    span {{ challenge.start_date | date: 'EEEE' }}

        li(ng-if='selectedWorld.type !== "campaign"')

            a.highlight(href='/playground', ng-class='{ locked: false}')

                .cover(ng-style='{"background-image": "url(/assets/challenges/images/playground.png)"}')

                .detail
                    h5 Playground

    div(ng-if='shares && selectedWorld.type !== "campaign"')

        h3.page-title
            i.icon-share
            | Latest Shares

        ul.shares-list

            li(ng-repeat='share in shares')
                a(href='{{cfg.WORLD_URL}}/shared/{{ share.slug }}')

                    .cover(ng-style='{ "background-image": "url(" + share.cover_url + ")" }')

                    .detail
                        h5
                            | {{ share.title }} 
                            em by {{ share.user.username }}

            li
                a.highlight.browse(
                    href='{{cfg.WORLD_URL}}/shares/make-art',
                    ng-click='browseMore($event)',
                    target='_blank'
                    )

                    .cover(ng-style='{"background-image": "url(/assets/challenges/images/browse.png)"}')

                    .detail
                        h5 Browse more

.modal-overlay(ng-if='selectedChallenge')
    .modal-inner.modal-challenge-info.center

        .cover(ng-style='{ "background-image": "url(/assets/challenges/images/" + selectedChallenge.cover +")" }')

        button.close(ng-click='deselectedChallenge()'): i.icon-cross

        .detail

            h3 {{ selectedChallenge.title }}

            p.description {{ selectedChallenge.description }}

            a.button.button-success(ng-href='/challenge/{{selectedWorld.id}}/{{selectedChallenge.id}}') Start

include ./partial/promo-popup