section.page-level(ng-class='"mode-" + mode'): .page-width

    h2.center Challenge {{ id }}: {{ levels[ id - 1 ].title }}
    h4.center {{ levels[ id - 1 ].description }}

    | step {{ step }}
    h5.center(ng-bind-html='guidance | markdown')

    a.button.help(ng-click='openIntro()') ?

    .row
        .col-6.editor-wrap
                editor(
                    workspace,
                    ng-model='code',
                    ng-class='{ completed: completed }',
                    ng-change='validate()',
                    editable='!completed',
                    start-at-line='content.startAt'
                    )

        .col-6.tutorial-wrap
            .display-wrap(v-show='mode === "editing"')
                display(ng-source='code', workspace)

                .actions
                    a.button.workspace-action-button.reset(ng-click='code = content.code; completed = false') Reset

            .success-display(ng-if='showNextBanner')
                h5 {{ successMessage() }}
                a.button.button-success.large(ng-if='hasNext', ng-href='/level/{{id + 1}}') Next &rsaquo;
                a.button.button-success.large(ng-if='!hasNext', ng-click='openLevelComplete()') Next &rsaquo;

    include partial/level-complete