section.page-level(ng-class='"mode-" + mode'): .page-width

    h2.center Challenge {{ id }}: {{ levels[ id - 1 ].title }}
    h4.center {{ levels[ id - 1 ].description }}
    .row
        .col-6.editor-wrap
                editor(
                    ng-model='code',
                    ng-class='{ completed: completed, disabled: mode == "reading" }',
                    ng-change='validate()',
                    editable='mode=="coding" && !completed',
                    start-at-line='content.startAt'
                    )

        .col-6.tutorial-wrap
            .display-wrap(v-show='mode === "editing"')
                display(ng-source='code')

                .actions
                    a.button(ng-click='openIntro()') Help
                    a.button.button-info(ng-click='code = content.code') Reset

            .success-display(ng-if='completed')
                h5 {{ successMessage() }}
                a.button.button-success.large(ng-if='hasNext', ng-href='/level/{{id + 1}}') Next &rsaquo;
                a.button.button-success.large(ng-if='!hasNext', ng-click='openLevelComplete()') Next &rsaquo;

    include partial/level-complete

    .modal-overlay(ng-show='isIntroOpen'): .modal-inner.challenge-intro
        button.close(ng-click='closeIntro()') &times
        .tutorial-display(ng-if='mode=="reading"')

            h3.center Challenge {{ id }}: {{ content.title }}

            div.center.content(ng-bind-html='slides[slide] | markdown')

            .next-action.center.bottom-section
                button.button-inverse.button-next.large(ng-click='nextSlide()', ng-show='slide < slides.length - 1') Next
                button.button-inverse.button-next.large(ng-click='closeIntro()', ng-show='slide >= slides.length - 1') Got it

    include partial/docs
