.page-width: .workspace

    .workspace-header: .inner.center
        h3
            i.icon-game
            | Playground
        h4 Draw whatever you want

    .workspace-body: .row
        .col-6
            editor(
                ng-model='playground.code',
                editable='true',
                auto-select='false',
                workspace,
                tabbed='true',
                controls='true'
                )
        .col-6
            display(ng-source='playground.code', workspace, mode='"playground"')

    span(ng-repeat="dialog in exportDialogs", ng-controller='ExportController')
        a.button(ng-if='!(dialog === "save" && !offline)',  ng-click='openDialog()') {{ dialog }}

        include partial/export

    span(ng-controller='LoadDialogController' ng-if='offline')
        a.button(ng-click='openDialog()') Load

        include partial/load