.page-width: .workspace
    .workspace-body: .row

        .col-6

            editor(
                ng-model='playground.code',
                editable='true',
                auto-select='false',
                workspace,
                tabbed='true',
                controls='true'
                )

        .col-6

            display(
                source='playground.code',
                workspace,
                mode='"playground"'
                )
