.kit-banner
    a(href="http://www.kano.me/kit", target='_blank')
        img(src="/assets/summercamp/logo.png")
        span Play more on a computer that you can make yourself, just like Lego!

.summer-camp: .page-width
   
    .deco-leaves
    .challenge-info(ng-if='selectedSummerChallenge !== null')
            .pic
                img(src='{{selectedSummerChallengeObj.img}}' ng-if='!selectedSummerChallengeObj.cover_url')
                img(ng-src='{{selectedSummerChallengeObj.cover_url}}' ng-if='selectedSummerChallengeObj.cover_url')
            .detail

                h4 August {{selectedSummerChallengeDay| ordinal}}
                h3 {{ selectedSummerChallengeObj.title }}

                div.description(ng-bind-html='selectedSummerChallengeObj.description | markdown ')
                .diff-container
                    span.cont-label DIFFICULTY
                    .difficulty-level(data-level='{{ "l-" + selectedSummerChallengeObj.difficulty }}')

                        span.l-easy
                        span.l-medium
                        span.l-hard
                .rewards-container
                    span.cont-label(ng-if='selectedSummerChallengeObj.rewards') REWARDS
                    .rewards-icons(ng-if='selectedSummerChallengeObj.rewards')
                        a(class='rew-wallpaper', ng-if='selectedSummerChallengeObj.rewards.wallpaper', href='http://www.kano.me/summercamp-faq#extracontent', title='This special content is exclusive to Kano Kit owners. To access, turn on your kit and make sure it is connected to WiFi.')
                        a(class='rew-outfit',  ng-if='selectedSummerChallengeObj.rewards.outfit', href='http://www.kano.me/summercamp-faq#extracontent', title='This special content is exclusive to Kano Kit owners. To access, turn on your kit and make sure it is connected to WiFi.')

                .btn-container(ng-if="!isFutureChallenge || timeToNext") 
                    .countdown-next(ng-if="timeToNext")
                        i.icon-locked
                        span
                            {{timeToNext.h | zeropad }}
                            span.sup H 
                            |   {{timeToNext.m | zeropad }}
                            span.sup M 
                            |   {{timeToNext.s | zeropad }}
                            span.sup S 

                    a.button(ng-if="!started && !isFutureChallenge" ng-href='/summercamp/challenge/{{ selectedSummerChallenge + 1 }}') Start Making
                    a.button.button-success(ng-if="started" ng-href='/summercamp/challenge/{{ selectedSummerChallenge + 1 }}') Continue

    div.sc-calendar
        h2 Camp Calendar
        h4 August
        ul.weekdays_list
             li.weekdays(
                ng-repeat='weekday in weekdays',
                ng-class='{ current: isCurrentDayIndex($index) }'
                ) {{weekday}}
        ul.calendar
            li.day(ng-repeat='day in range(21)')
                a(
                    ng-dblClick='openChallenge(day)',
                    ng-click='selectChallenge(day)',
                    ng-class='{ locked: isLocked(day) && !currentDay(day), completed: isCompleted(day), current: isCurrent(day), unlocked: currentDay(day) }',
                    )
                    div(ng-if="!summerCampChallenges[day].cover_url" class='cover {{additionalBgClass(day)}}')
                    span  {{day + 10}}
                    h5(ng-if="!summerCampChallenges[day].cover_url")  {{summerCampChallenges[day].short_title || summerCampChallenges[day].title || "&nbsp;"}}
                    .img-cover(ng-if="summerCampChallenges[day].cover_url" ng-style="{ 'background-image': 'url(' + summerCampChallenges[day].cover_url + ')' }")
        span {{ days }} {{ days == 1 ? 'day' : 'days' }}
        span {{ hours }} {{ hours == 1 ? 'hour' : 'hours' }}
        span {{ minutes }} {{ minutes == 1 ? 'second' : 'minutes' }}
        span {{ seconds }} {{ seconds == 1 ? 'second' : 'seconds' }}
    .deco-big-branch

    include ./partial/summer-camp-leaderboard
