.banner(ng-if='selectedWorld.id !== "pixelhack"')
    a(href="/challenges/pixelhack")
        span ${{ partial.pixel_hack }}$
        |    ${{ partial.code_your_way_through_the_history }}$

    .modal-overlay(ng-if='banner.showModal')
        .modal-inner.modal-challenge-info.center(ng-style="{'display': banner.showModal ? 'block' : 'none'}")

            .cover

            button.close(ng-click='banner.closeModal()'): i.icon-cross

            .detail
                h3 ${{ partial.welcome_to_pixel_hack }}$

                p ${{ partial.start_your_coding_adventure }}$
                p ${{ partial.happy_hacking }}$
