mixin arguments-short (args)
    for arg, i in args
        span(class='argument argument-' + arg[1] + (arg[3] ? '' : ' optional'))
            if arg[1] == 'string'
                = '\'' + arg[0] + '\''
            else
                = arg[0]

        if i < args.length - 1
            span(class='argument separator')
                | , 

.docs(ng-controller='DocsController', ng-init='categories = []')
    h1.center Spellbook
    h4.center Collection of all your spells

    ul.list.category-list
        for category, i in jsonContent('docs')

            li.docs-category(ng-init="categories.push('" + category.label.toLowerCase() + "')")

                a(ng-class="{ active: '" + category.label.toLowerCase() + "' === current }",
                         ng-click="selectCategory('" + category.label.toLowerCase() + "')")
                    = category.label

    .row

        for category, i in jsonContent('docs')
            .docs-details
                for command in category.commands
                    .row.command(ng-show="'" + category.label.toLowerCase() + "' === current && ( " + command.unlockedAt + " <= id || playground !== undefined )")

                        .col-6.command-code
                            h4
                                span.identifier= command.call + (!command.args.length ? '()' : '')
                                |  
                                +arguments-short(command.args)
                            if command.example
                                .command-example
                                    h4 Example
                                    h5.command-example-code= command.example

                        .col-6.command-usage
                            h3= command.call
                            p.description= command.description

                            ul.arguments
                                for arg in command.args
                                    li
                                        = arg[0] + ': '
                                        span= arg[2]
