header: .main-navigation.page-width

    a.logo(href='/')
        img(ng-src='{{ _config.UI_ROOT + "assets/layout/header-logo.svg" }}', alt='main logo')
    //- if !offline
    //-     a.kano-logo(href='http://www.kano.me', target='_blank')

    ul.nav.nav-left

        li: a(href='/challenges', ng-class='{ active: basePath === "challenge" || basePath === "challenges" }')
            div.big.icon(ng-bind-html='icons.challenges | trust')
            | ${{ challenges.challenges }}$

        li: a(href='/playground', ng-class='{ active: basePath === "playground" }')
            div.icon(ng-bind-html='icons.create | trust')
            | ${{ challenges.playground }}$

        li: a(href='https://world.kano.me')
            div.big.icon(ng-bind-html='icons.world | trust')
            | ${{ challenges.kano_world }}$

    ul.nav.nav-right(ng-cloak)

        li(ng-if='!offline && !loggedIn'): a(href='', ng-click='auth.openModal("login")')
            i.icon-login
            | ${{ partial.login }}$

        li(ng-if='!offline && !loggedIn'): a.signup(href='', ng-click='auth.openModal("signup")')
            | ${{ partial.signup }}$

        li(ng-if='!offline && loggedIn')
            a.user-display(ng-href='http://world.kano.me/users/{{ user.username }}', target='_blank')
                .avatar: img(ng-src='{{ user.avatar.urls.circle || cfg.DEFAULT_AVATAR }}')
                | {{ user.username }}

        li(ng-if='!offline && loggedIn'): a(href='', ng-click='logout()')
            i.icon-logout
            | ${{ partial.logout }}$

        li: button.close(ng-click='shutdown()', ng-if='offline'): i.icon-cross
