include kano-nav

header: .main-navigation.page-width(ng-hide='selectedWorld && selectedWorld.display_menu')

    a.logo(href='/')
    //- if !offline
    //-     a.kano-logo(href='http://www.kano.me', target='_blank')

    ul.nav.nav-left

        li: a(href='/challenges', ng-class='{ active: basePath === "challenge" || basePath === "challenges" }')
            i.icon-menu
            | ${{ challenges.challenges }}$

        li: a(href='/playground', ng-class='{ active: basePath === "playground" }')
            i.icon-game
            | ${{ challenges.playground }}$

    ul.nav.nav-right(ng-cloak)
        li.discover: a(ng-if="!offline" id='discover-kano', href='http://world.kano.me/start', target='_blank')
            i.icon-cpu
            | ${{ partial.discover_kano }}$

        li(ng-if='!offline && !loggedIn'): a(href='#', ng-click='auth.openModal()')
            i.icon-login
            | ${{ partial.login }}$


        li(ng-if='!offline && loggedIn')
            a.user-display(ng-href='http://world.kano.me/users/{{ user.username }}', target='_blank')
                .avatar: img(ng-src='http://avatar.kano.me/username/{{ user.username }}.png')
                | {{ user.username }}

        li(ng-if='!offline && loggedIn'): a(href='#', ng-click='logout()')
            i.icon-logout
            | ${{ partial.logout }}$

        li: button.close(ng-click='shutdown()', ng-if='offline'): i.icon-cross

// Uncomment to enable banner
// include banner
