.kano-navigation(ng-show='!offline && selectedWorld && selectedWorld.display_menu')
    kano-nav(assets-path='/assets/kano-nav/' site-root='{{cfg.WORLD_URL}}')
        kano-primary-links(current-site='{{window.location.origin}}' slot='primary')
        ul.nav.nav-secondary(slot='secondary')

            li: a(href='/challenges', ng-class='{ active: basePath === "challenge" || basePath === "challenges" }')
                i.icon-menu
                | ${{ challenges.challenges }}$

            li: a(href='/playground', ng-class='{ active: basePath === "playground" }')
                i.icon-game
                | ${{ challenges.playground }}$

        ul.nav.nav-right(ng-cloak slot='right')
            li(ng-if='!offline && !loggedIn'): a(href='', ng-click='auth.openModal("login")')
                i.icon-login
                | ${{ partial.login }}$

            li(ng-if='!offline && !loggedIn'): a.signup(href='', ng-click='auth.openModal("signup")')
                | ${{ partial.signup }}$

            li(ng-if='!offline && loggedIn')
                a.user-display(ng-href='http://world.kano.me/users/{{ user.username }}', target='_blank')
                    .avatar: img(ng-src='{{ user.avatar.urls.circle || cfg.DEFAULT_AVATAR }}')
                    .username
                        | {{ user.username }}

            li(ng-if='!offline && loggedIn'): a(href='', ng-click='logout()')
                i.icon-logout
                | ${{ partial.logout }}$

            li: button.close(ng-click='shutdown()', ng-if='offline'): i.icon-cross
