.modal-overlay(ng-if='mailPreview')
    .modal-inner.modal-mail-preview.center
        button.close(ng-click='closePreview()'): i.icon-cross
        .preview
            .header ${{ partial.share_by_email }}$
            h4 "{{ selectedSummerChallengeObj.shareTitle }}"
            .content
                .left-content
                    input(type='email' ng-model='selectedSummerChallengeObj.email' placeholder='${{ partial.enter_an_email_address }}$')
                    textarea(ng-model='selectedSummerChallengeObj.message' placeholder="${{ partial.i_just_made_this_with_code }}$")
                    input(type='text' ng-model='selectedSummerChallengeObj.name' placeholder='${{ partial.your_name }}$')
                .right-content
                    .pic
                        img(ng-src='{{selectedSummerChallengeObj.img}}' ng-if='!selectedSummerChallengeObj.cover_url')
                        img(ng-src='{{selectedSummerChallengeObj.cover_url}}' ng-if='selectedSummerChallengeObj.cover_url')
            
                    a.button.button-success(ng-click='sendMail(selectedSummerChallengeObj)') ${{ partial.send }}$
